/* Variables */
:root {
  --color-smoky-black: #160908;
  --color-light-brownish: #54442b;
  --color-cream: #fbe6d6;
  --color-yellowish: #f7ee7f;
  --color-whitish: #e0e2db;
  --color-pale-blue: #a0ced9;
  --color-lemon-cream: #fcf5c7;
  --px-value-xx-large: 2.5rem;
  --px-value-x-large: 2rem;
  --px-value-large: 1.5rem;
  --px-value-l-medium: 1.25rem;
  --px-value-medium: 1rem;
  --px-value-s-medium: 0.75rem;
  --px-value-small: 0.5rem;
  --px-value-x-small: 0.25rem;
  --content-padding: var(--px-value-medium);
  --h1-size: 2.4rem;
  --h2-size: 2rem;
  --h3-size: 1.5rem;
  --h4-size: 1.25rem;
  --content-p: 1.1rem;
  --margin-top: 1.4em 0 0 0;
  --margin-p: var(--px-value-s-medium) 0;
}

/* Base */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: "Roboto", "Times New Roman", "Helvetica", "Courier New", Courier,
    "Arial", sans-serif;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* BEM */
body {
  background: #fdfdfd;
  color: #444;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Navigation */
.nav-container {
  height: 4rem;
  background-color: #fdfdfd;
  box-shadow: 0px 1px 4px 1px #eee;
}

.nav {
  height: inherit;
  min-width: 22rem;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 var(--px-value-x-large);

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  overflow: hidden;
}

.nav__item,
.nav__item--selected {
  flex: 0 1 auto;
  padding: 0 var(--px-value-small);
}

.nav__item--home {
  flex-grow: 1;
}

.nav__item a,
.nav__item--selected a {
  color: #555;
}

.nav__item--selected a {
  font-weight: 700;
}

.home-link {
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}

.home-link__logo-container {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.home-link__my-name {
  display: none;
  font-size: 1.1em !important;
  font-weight: 600 !important;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

.logo {
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

/* Content */
.content {
  padding: var(--content-padding);
  padding-top: 100px; /*for nav*/
  max-width: 768px;
  margin: 0 auto;
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-weight: 900;
  font-size: var(--h1-size);
  text-align: center;
  padding: 0 4rem;
}

h2 {
  font-size: var(--h2-size);
  color: var(--color-light-brownish);
  margin: var(--margin-top);
}

h3 {
  font-weight: 700;
  font-size: var(--h3-size);
  margin: var(--margin-top);
  color: black;
}

h4 {
  font-size: var(--h4-size);
  margin: var(--margin-top);
}

p {
  font-weight: 100;
  font-size: var(--content-p);
  line-height: 1.6rem;
  margin: var(--margin-p);
}

.code {
  font-family: "Courier New", Courier, monospace;
  background: #eee;
  font-weight: 100;
}

.pre {
  background: #111;
  margin: var(--margin-top);
  border-radius: var(--px-value-small);
}

.pre .code {
  color: #eee;
  background: transparent;
}

/* Footer */
.footer {
  background: var(--color-smoky-black);
  color: var(--color-cream);
  padding: var(--px-value-large) var(--px-value-xx-large);
}

.footer__copyright {
  font-size: 0.9em;
}

/* xx-small - 240px */
@media all and (min-width: 15em) {
  :root {
    font-size: 0.70rem;
  }
}

/* Extra Small - 320px*/
@media all and (min-width: 20em) {
  :root {
    font-size: 0.85rem;
  }
}

/* little Small - 480px*/
@media all and (min-width: 30em) {
  :root {
    font-size: 0.9rem;
  }

  .home-link__my-name {
    display: inline-block;
  }
}

/* Small - 540px*/
@media all and (min-width: 33.75em) {
  :root {
    font-size: 1rem;
  }
}

/* Medium - 768px*/
@media all and (min-width: 48em) {
}

/* Large - 1024px*/
@media all and (min-width: 64em) {
}

/* Extra Large - 1366px*/
@media all and (min-width: 85.375em) {
}

/* Extra Extra Large - 1920px */
@media all and (min-width: 120em) {
}

/* Retina */
@media all and (min-width: 160em) and (min-resolution: 192dpi) {
}
